@font-face {
  font-family: 'LibreBaskervilleItalic';
  src: url("../fonts/libre-baskerville.italic.ttf") format("opentype");
}

@font-face {
  font-family: 'RalewayRegular';
  src: url("../fonts/Raleway-Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'RalewayBold';
  src: url("../fonts/Raleway-Bold.ttf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.callback-link {
  color: #222222;
  text-decoration: none;
}

.swal2-icon-text,
.swal2-popup .swal2-footer {
  font-family: 'RalewayRegular';
}

.swal2-popup {
  width: 34em !important;
}

.ModalButton {
  color: white;
  background: #AE4E5D;
  font-weight: 700;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: .35em;
}